* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.img {
    border-radius: 10px;
    display: inline-block;
   width: 50%;
   text-align: center;
}
.img-container{
    text-align: center;
}
  h1{
    font-size: 1rem;
    margin: 20px;
}
  p{
    font-size: 0.5rem;
   
}
 